@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* brand colors */

*{
    font-family: 'Nanum Gothic', sans-serif;
}

main {
    background-color:#FBFCF5
}

h1 {
    font-family: 'Spartan', sans-serif;
}

.ez{
    color: #F7CB2D;
}

.pitch{
    color:#23547B;
}

.navbar{
    background-color: #23547B;
}

.footer{
    background-color: #23547B
}

.custom-bg-light-blue{
    background-color:#A2C4E0
}

.custom-bg-yellow{
    background-color:#F7CB2D
}

.custom-bg-darkblue{
background-color: #3E72A6
}

.custom-bg-darkestblue{
    background-color:#23547B
}

.custom-text-yellow{
    color:#F7CB2D
}

.font-smallest{
    font-size:0.75em;
}